h1,h2,h3,h4,h5,h6{color: purple; font-family:Monotype Corsiva;}
.par1 {color:red; font-family: Times New Roman ; font-size: 18pt;}
.par2 {color:yellow; font-family: Times New Roman ; font-size: 20pt;}
.par3 {color:green; font-family: Times New Roman ; font-size: 22pt;}
.table table{color: red}